.body {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    /* align-items: center; */
    transition: 0.3s;
    flex-wrap: wrap;

}

.white {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    border: 8px solid rgb(238, 238, 238);

}

.img {
    width: 100%;
    transition: 0.3s;
    border-radius: 5%;
}
.img2 {
    width: 100%;
    transition: 0.3s;
border-radius: 10px;
    border: 5px black solid;
}

.imgBox {
    /* width: 250px; */
    width: 100px;
    transition: 0.3s;
    display: flex;
}

.imgBox2 {

    height: 30px;
    transition: 0.3s;
    display: flex;
}
.imgBox3 {

    height: 150px;
    transition: 0.3s;
    display: flex;
    margin-left: 20px;
}
.btnw {
    min-height: 30px;
    border: black solid 2px;
    background-color: white;
    color: black;
    margin: 10px;
    transition: 0.2s;

}

.btnw:hover {
    min-height: 30px;
    border: rgb(255, 255, 255) solid 2px;
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
    transition: 0.3s;
    margin: 10px;
}

.btnb{
    min-height: 30px;
    border: black solid 2px;
    background-color: rgb(255, 255, 255);
    color: black;
font-size: 100%;
margin: 10px;
    transition: 0.2s;
padding: 10px;
}

.btnb:hover{
    min-height: 30px;
    border: rgb(255, 255, 255) solid 2px;
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
    transition: 0.3s;
font-size: 100%;
padding: 10px;
margin: 10px;
}

.hw {
    color: rgb(71, 71, 71);

    transition: 0.1s;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
}